<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="card">

    <!-- If else statement to upload the picture of the user or the default picture -->
    <% if !chickensgang.photo? %>
      <div class="card-picture"
      style="background-image:
      url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0yiRaRpABimHCHMw4cXVZKYwK0YjRhGJydn7hzi12WaM_4XknfQ')"></div>
    <% else %>
      <div class="card-picture"
      style="background-image:
      url('<%= cl_image_path chickensgang.photo, crop: :fill %>')"></div>
    <% end %>

    <!-- Section card-body containing name, breed, capacity and avatar of the farmer -->
      <div class="card-body">
        <div class="card-description">
          <h2><%= chickensgang.gang_name %></h2>
          <h6><%= chickensgang.breed %></h6>
          <div>
            <p>
              <% chickensgang.capacity.times do %>
                <%= image_tag "https://visuels.l214.com/animaux/poules/oeufs/oeuf-detoure.png", width: 10, height:15  %>
              <% end %>
              per day
            </p>
            <h4><%= chickensgang.price.round(1)%>€</h4>
          </div>
        </div>
        <% if chickensgang.owner.photo.model[:photo] != "https://kitt.lewagon.com/placeholder/users/gittelo"  %>
        <%= cl_image_tag chickensgang.owner.photo, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar card-user" %>
        <% else %>
        <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/gittelo">
        <% end %>
      </div>

  </div>
</div>


<!--       <div class="link">
        <%#= link_to 'View more information', chickens_gang_path(chickensgang) %>
      </div> -->
