<div class="col-xs-12 col-sm-6 col-md-4">
  <!-- The whole card is a link to the show page -->
  <%= link_to "", data: {toggle: "modal", target: "#modal-#{chickensgang.id}"} do %>
    <div class="card">
      <!-- If else statement to upload the picture of the chickens gang or the default picture -->
      <% if !chickensgang.photo? %>
        <div class="card-picture"
        style="background-image:
        url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0yiRaRpABimHCHMw4cXVZKYwK0YjRhGJydn7hzi12WaM_4XknfQ')"></div>
      <% else %>
        <div class="card-picture"
        style="background-image:
        url('<%= cl_image_path chickensgang.photo, crop: :fill %>')"></div>
      <% end %>

      <!-- Section card-body containing name, breed, capacity, price and avatar of the farmer -->
        <div class="card-body">
          <div class="card-description">
            <h2><%= chickensgang.gang_name %></h2>
            <h6><%= chickensgang.breed %></h6>
            <div>
              <p>
                <% chickensgang.capacity.times do %>
                  <%= image_tag "https://visuels.l214.com/animaux/poules/oeufs/oeuf-detoure.png", width: 10, height:15  %>
                <% end %>
                per day
              </p>
              <h4><%= chickensgang.price.round(1)%>€</h4>
            </div>
          </div>

          <!-- If else statement to upload the picture of the farmer gang or the default picture as an avatar -->
          <% if chickensgang.owner.photo.model[:photo] != "https://kitt.lewagon.com/placeholder/users/gittelo"  %>
          <%= cl_image_tag chickensgang.owner.photo, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar card-user" %>
          <% else %>
          <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/gittelo">
          <% end %>
          <p class="card-user-name text-center">Raised by <br>
            <strong><%= chickensgang.owner.first_name  %></strong></p>
<!--             <p>
              <#% chickensgang.review.rating.times do %>
                <#%= image_tag "https://visuels.l214.com/animaux/poules/oeufs/oeuf-detoure.png", width: 10, height:15  %>
              <#% end %>
            </p> -->
        </div>

    </div>
  <% end %>
</div>



<div id="modal-<%= chickensgang.id %>" class="chicken-modal modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Chicken Gang Details</h1>
      </div>
      <div class="modal-body">

      <% if !chickensgang.photo? %>
        <div class="modal-picture"
        style="background-image:
        url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0yiRaRpABimHCHMw4cXVZKYwK0YjRhGJydn7hzi12WaM_4XknfQ')"></div>
      <% else %>
        <div class="modal-picture"
        style="background-image:
        url('<%= cl_image_path chickensgang.photo, crop: :fill %>')"></div>
      <% end %>

      <h4> <em><%= chickensgang.gang_name%></em></h4>

      <p> Breed: <%= chickensgang.breed %></p>
      <p> Capacity: <%= chickensgang.capacity %></p>

      <p> Year of birth: <%= chickensgang.year_of_birth %></p>
      <p> Price: <%= chickensgang.price %>€/day</p>

      <p> Available:
        <% if chickensgang.availability %> Yes </p>
        <% else %> No </p>
        <% end %>


      <h4>Chickens Gang Reviews</h4>

      <% if !chickensgang.reviews.empty?  %>
      <% average = [] %>
      <% chickensgang.reviews.each do |review| %>
        <% average << review.rating  %>
      <% end %>
      <p> Average rating: <%= (average.reduce(:+)/average.size.to_f).round(1)  %></p>
      <ul>
        <% chickensgang.reviews.each do |review| %>
          <li> Comment: <%=review.content%>, Rating: <%=review.rating%> </li>
        <% end %>
      </ul>
      <% else %>
        <p>This Chicken Gang has no review yet. </p>
      <% end %>

    </div>
  </div>
 </div>
</div>



