<div class="container">
  <h4 style="text-align: center">My bookings </h4>
  <table class="table">
    <thead>
      <th>Gang Name</th>
      <th>Breed</th>
      <th>Date</th>
      <th>Total Price</th>
      <th>Add a Review</th>
    </thead>
    <tbody>
      <% @my_bookings.each do |booking| %>
        <% start_year =  booking.start_date.strftime('%Y').to_i%>
        <% start_month =  booking.start_date.strftime('%m').to_i%>
        <% start_day =  booking.start_date.strftime('%d').to_i%>
        <% end_year =  booking.end_date.strftime('%Y').to_i%>
        <% end_month =  booking.end_date.strftime('%m').to_i%>
        <% end_day =  booking.end_date.strftime('%d').to_i%>

        <% days = Date.new(end_year, end_month, end_day) -
                  Date.new(start_year, start_month, start_day) %>
        <% chickensgang = booking.chickens_gang %>
        <tr>
          <td><%= chickensgang.gang_name %></td>
          <td><%= chickensgang.breed %></td>
          <td><%= booking.start_date.strftime('%d %b %Y') %> to
              <%= booking.end_date.strftime('%d %b %Y') %></td>
          <td><%= chickensgang.price * days.to_i %>€</td>
          <% if Date.today > booking.end_date %>
            <% if chickensgang.reviews.count == 1 %>
              <td>Review submited</td>
            <% else %>
              <td><%= link_to "+", new_chickens_gang_review_path(booking.chickens_gang_id) %></td>
            <% end %>
          <% else %>
            <td style="color: grey"><em>Review after <%= booking.end_date.strftime('%d %b %Y') %></em></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%#= link_to "+", new_chickens_gang_review_path(booking.chickens_gang_id) %>
