<div class="container">
  <h4 style="text-align: center">My Gangs</h4>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Gang Name</th>
      <th scope="col">Breed</th>
      <th scope="col">Capacity</th>
      <th scope="col">Price</th>
      <th scope="col">Manage my Gang</th>
    </tr>
  </thead>

  <tbody>
    <% @my_chicken_gangs.each do |chickengang| %>
      <tr>
        <td><%= chickengang.gang_name %></td>
        <td><%= chickengang.breed %></td>
        <td><%= chickengang.capacity %> eggs/day</td>
        <td><%= chickengang.price %>€/day</td>
        <td><%= link_to "See my gang", chickens_gang_path(chickengang) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4 style="text-align: center">My Clients</h4>
<table class="table">
  <thead>
    <th>Gang Name</th>
    <th>Booked by</th>
    <th>Date</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @all_rentings.each do |renting| %>
      <tr>
        <td><%= @my_chicken_gangs.find(renting.chickens_gang_id).gang_name %></td>
        <td><%= renting.user.first_name %></td>
        <td><%= renting.start_date.strftime('%d %b %Y') %> to
            <%= renting.end_date.strftime('%d %b %Y') %></td>
        <% if Date.today < renting.start_date %>
          <td>Booked</td>
        <% elsif Date.today > renting.end_date %>
          <td style="color: orange">Closed</td>
        <% else %>
          <td style="color: green">Active</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<!-- gang.id == renting.chickens_gang_id -->
