<div class="container">
  <h1> <%=@chickens_gang.gang_name%></h1>


  <p> Breed: <%= @chickens_gang.breed %></p>
  <p> Gang name: <%= @chickens_gang.gang_name %></p>
  <p> Capacity: <%= @chickens_gang.capacity %></p>
  <p> Photo: <%= @chickens_gang.photo %></p>
  <p> Year of birth: <%= @chickens_gang.year_of_birth %></p>
  <p> Price: <%= @chickens_gang.price %></p>
  <p> Available?:  <% if @chickens_gang.availability %> Yes </p> <% else %>
No </p>
<% end%>

<button>
<%= link_to "Back to Chickens Gangs",chickens_gangs_path %>
</button>

<button>
<%= link_to "Edit",edit_chickens_gang_path(@chickens_gang) %>
</button>

<button>
<%= link_to "Delete",@chickens_gang, method: :delete, data: {confirm: 'Are you sure?'} %>
</button>

<button>
<%= link_to "Add review",new_chickens_gang_review_path(@chickens_gang) %>
</button>
</div>
