<div class="container">
  <div class="row">
    <div class="col-xs-9">

      <h3> <%= @chickens_gang.gang_name%>
        <% if current_user == @chickens_gang.owner  %>
          <%= link_to edit_chickens_gang_path(@chickens_gang) do %>
            <i class="fas fa-pencil-alt fa-xs"></i>
          <% end %>
          <%= link_to @chickens_gang, method: :delete, data: {confirm: 'Are you sure?'} do %>
            <i class="fas fa-trash-alt fa-xs"></i>
          <% end %>
        <% end %>
      </h3>

      <p> Breed: <%= @chickens_gang.breed %></p>
      <p> Capacity: <%= @chickens_gang.capacity %></p>

      <p> Year of birth: <%= @chickens_gang.year_of_birth %></p>
      <p> Price: <%= @chickens_gang.price %>€/day</p>

      <p> Available:
        <% if @chickens_gang.availability %> Yes </p>
        <% else %> No </p>
        <% end %>
    </div>



  <div class="row">
    <div class="col-xs-12">
      <h4>Chickens Gang Reviews</h4>

      <% if !@chickens_gang.reviews.empty?  %>
      <% average = [] %>
      <% @chickens_gang.reviews.each do |review| %>
        <% average << review.rating  %>
      <% end %>
      <p> Average rating: <%= (average.reduce(:+)/average.size.to_f).round(1)  %></p>
      <ul>
        <% @chickens_gang.reviews.each do |review| %>
          <li> Comment: <%=review.content%>, Rating: <%=review.rating%> </li>
        <% end %>
      </ul>
      <% else %>
        <p>This Chicken Gang has no review yet. </p>
      <% end %>
    </div>
  </div>

<%= link_to "Back to Chickens Gangs",chickens_gangs_path, class: "btn btn-danger" %>

</div>

 <div class="modal-booking">

          <%= simple_form_for [@chickens_gang, @renting] do |f| %>
            <%= f.input :start_date, as: :string %>
            <%= f.input :end_date, as: :string %>
            <%= f.button :submit, 'Book now!', class: "btn btn-danger" %>
          <% end %>

        </div>

