<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <% unless action_name == "home" || action_name == "farmers" %>
      <%= render 'shared/navbar' %>
    <% end %>
    <div class="page-wrapper">
      <%= yield %>
    </div>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'map' %>
  </body>
</html>
